CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
CAAssets
_deps
/.vs/
/out/
__pycache__/
*.dmp
*.bak
*.bak2
*.bak3
*.bak5
test_output/
imgui.ini
pipeline_cache.bin