[submodule "ExternalLib/glfw"]
	path = ExternalLib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "ExternalLib/VulkanMemoryAllocator"]
	path = ExternalLib/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "ExternalLib/glm"]
	path = ExternalLib/glm
	url = https://github.com/g-truc/glm.git
[submodule "ExternalLib/stb"]
	path = ExternalLib/stb
	url = https://github.com/nothings/stb.git
[submodule "ExternalLib/imgui"]
	path = ExternalLib/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "ExternalLib/assimp"]
	path = ExternalLib/assimp
	url = https://github.com/assimp/assimp.git
[submodule "ExternalLib/slang"]
	path = ExternalLib/slang
	url = https://github.com/A-RAVEN/slang.git
[submodule "ExternalLib/JoltPhysics"]
	path = ExternalLib/JoltPhysics
	url = https://github.com/jrouwe/JoltPhysics.git
[submodule "ExternalLib/DirectX-Headers"]
	path = ExternalLib/DirectX-Headers
	url = https://github.com/microsoft/DirectX-Headers.git
