[submodule "ExternalLib/glfw"]
	path = ExternalLib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "ExternalLib/VulkanMemoryAllocator"]
	path = ExternalLib/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "ExternalLib/glm"]
	path = ExternalLib/glm
	url = https://github.com/g-truc/glm.git
[submodule "ExternalLib/stb"]
	path = ExternalLib/stb
	url = https://github.com/nothings/stb.git
[submodule "ExternalLib/CPM.cmake"]
	path = ExternalLib/CPM.cmake
	url = https://github.com/cpm-cmake/CPM.cmake.git
[submodule "ExternalLib/llvm-project"]
	path = ExternalLib/llvm-project
	url = https://github.com/llvm/llvm-project.git
[submodule "ExternalLib/DirectXShaderCompiler"]
	path = ExternalLib/DirectXShaderCompiler
	url = https://github.com/microsoft/DirectXShaderCompiler.git
[submodule "ExternalLib/SDL"]
	path = ExternalLib/SDL
	url = https://github.com/libsdl-org/SDL.git
